%h1.mt-5.mb-4
  Alle Playlisten

%a.btn.btn-success.mb-4{ href: "/playlisten/neu" }
  Neue Playliste anlegen
  

.row
  - @playlists.each do |playlist|
    .col-xs-12.col-sm-6.col-md-4
      .card.text-center
        .card-body
          %h5.card-title
            = playlist.title
          %p.card-text
            = "#{playlist.songs.count} Songs<br />#{playlist.listen_count} mal gestartet"
          %a.btn.btn-primary{ href: "/playlisten/#{playlist.card_uid}" }
            Ansehen & Upload